template(name="newsTemplate")
  .row
    .box(id="#{this._id}")
      .col-lg-12
        hr
        h2.intro-text.text-center #{this.titlePlain} #[strong #{this.titleStrong}]
        hr
      .col-md-6
        img.img-responsive.img-border-left(src="#{image}" alt="" width="100%")
      .col-md-6
        each this.text
          p #{this.paragraph}
        if userIsAdmin
          hr
          .delete-news-btn(style="float: right")
            button.btn.btn-danger Видалити новину
