template(name="cartTable")
  .col-lg-12(style="text-align:center")
    hr
    h2.intro-text.text-center #[strong Кошик]
    hr
    .cart-table
      table
        tr
          td(style="width: 500px") #[strong товар]
          td(style="width: 200px") #[strong кількість]
          td(style="width: 100px") #[strong ціна за одиницю]
          td(style="width: 100px") #[strong сума]
        each goodsNames
          tr
            td(style="width: 500px") #{this.name}
            td(style="width: 200px") #{this.quantity}
            td(style="width: 100px") #{this.price} грн.
            td(style="width: 100px") #{this.total} грн.
            td
              button.btn.btn-default.remove-btn(id='#{this.id}') видалити з кошика
    br
    label загальна сума {{totalPrice}} грн.
    hr