template(name="sets")
  .container
    each goods
      .row
        .box(id="#{this._id}")
          .col-lg-12
            hr
            h2.intro-text.text-center #{this.titlePlain} #[strong #{this.titleStrong}]
            hr
          .col-md-6
            {{>imagesForGoods}}
          .col-md-6
            each this.text
              p #{this.paragraph}
            hr
            if multi
              each this.price
                .col-md-8(style="margin-bottom: 5px")
                  label.inline #{this.amount} #{this.units}  -  #{this.cost} грн.
                .col-md-4(style="margin-bottom: 5px")
                  button.btn.inline.btn-default.add-to-cart-btn(style="float: right" id="#{this.amount}")
                    | Додати до кошика
                br
            else
              each this.price
                .col-md-8.col-md-offset-2(style="margin-bottom: 5px")
                  label.inline #{this.amount} #{this.units}  -  #{this.cost} грн.
                  button.btn.inline.btn-default.add-to-cart-btn(style="float: right" id="#{this.amount}")
                    | Додати до кошика
                br
            if userIsAdmin
              br
              br
              hr
              .delete-news-btn(style="float: right")
                button.btn.btn-danger Видалити цей товар
